/* Relocated selectors to match location of selectors in index.html */
/* Universal selector telling browser to account for any border and padding in width and height */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets background color to pale beige/white */
body {
    background-color: #d9dcd6;
}

/* Changed class to element, where the header and navigation bar is located, sets padding size, font, font color, and background color */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Changed to h1 selector, sets the size for and displays element as an inline element where you can set the width and height */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Changed to #seo ID selector to change the color of SEO to pale beige/white */
#seo {
    color: #d9dcd6;
}

/* Changed to nav selector, navigation bar establishing size and positoin of navigation links */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Combined ul and li selectors and changed to li, List properties that set how list is displayed, horizontal with no bullets and margin on the left */
li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* Sets the color and appearance of text for the hyperlinks */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Sets font size for all paragraph tags */
p {
    font-size: 16px;
}

/* Changed from class to ID selector, Hero image - large image typically with text and at top of page */
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Changed .content class selector to main element selector, main section takes up 75% of the width with a left margin */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Consolidated search-engine-optimization, online-reputation-mangement, and social-media-marketing classes to content class, Formatting for each part of the main section. The container size, font, font color, background color, padding and margin defined */
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Combined with img selectors in content class, Sets image location, size, and margin in the main section */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* Combined with img selectors in content class, Sets image location, size, and margin in the main section */
.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* Changed to h2 and consolidated with SEO, ORM, and SMM h2 selectors, Size and bottom margin for header 2 element */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Changed .benefits class selector to aside element selector, Container for aside, inline with main, located on right 20% of screen, margin and padding set, font, background color, and floating elements are not allowed to float on both sides */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Consolidated benefit-lead, brand, and cost, renamed to .benefits class, Each item in aside is has a margin on the bottom and white font */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Consolidated with benefit-lead, brand, and cost h3s, renamed to h3, Alignment and bottom margin for header 3 element */
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated with benefit-lead, brand, and cost imgs, renamed to .benefits img, Sets images in benefits class as a block to take up whole line, with a top and bottom margin set to 10 pixels but left and right margins are set by the browser and a max width */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changed from class to element, Formatting for the footer to have a padding, floating elements cannot float on both sides, sets font and alignment to center */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Changed to h4 element, Sets font size for header 4 element */
h4 {
    font-size: 20px;
}